body {
    margin: 0;
    padding: 0;
}


.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #8f8e9c;
    
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
     margin: 0px 20px 0px 20px; 
    background-color: #8f8e9c;
    padding: 15px;
    text-align: center;
    display: block;
    max-width: 100%;
}

.navbar p {
    margin-left: 20px;
    background-color: #8f8e9c;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Merriweather', serif;
}

.navbar a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}