body {
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: #001532;
    overflow: hidden;
    
    
}

.topnav p {
    padding-left: 2%;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'Bree Serif', serif;
    display: inline-block;
    color: #cfcfcf;
    padding: 19px 29px;
    text-decoration: none;
    float: right;
    font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}